/* Common admin center classes.
------------------------------------------------------- */

/* @todo - Start stripping a pile of crud from this file.
/* Once I can see how it looks without the crud, I can decide what it really needs.
/* Can be simplified quite a lot before production builds. */

/* @todo - Special styling for admin descriptions. */
.action_admin .generic_list_wrapper .information {
	margin: 8px 0;
	padding: 4px 12px 2px 12px;
}
.action_admin .generic_list_wrapper .information div {
	background: none;
}
.information a {
	font-weight: bold;
}
.action_admin .generic_list {
	overflow: auto;
}
#admin_content .windowbg, #admin_content .windowbg2 {
	margin-bottom: 5px;
}
#admincenter {
	overflow: auto;
}
#admincenter .content {
	padding: 12px;
}
#admincenter .content .settings {
	padding: 0 0 0 8px;
}

/* @todo - A general admin wrapper class. */
#admin_main_section, div.quick_tasks, #mod_main_section,
#support_credits, #admin_newsletters,
#core_features, #generate_reports_type,
#groupForm, #mailqueue_stats, #manage_maintenance,
#new_group, #view_group, #admin_form_wrapper, .action_admin .generic_list_wrapper{
	margin: 12px 0 0 0;
	padding: 8px 8px 16px 8px;
	overflow: auto;
}
#admin_form_wrapper div.windowbg, #support_credits div.windowbg,
#generate_reports_type div.windowbg, #new_group div.windowbg,
#view_group div.windowbg, #admin_newsletters .windowbg {
	background: none;
	padding: 0;
	margin: 0 4px;
}
#mailqueue_stats {
	padding: 8px 8px 0 8px;
}
#mailqueue_stats .windowbg {
	background: none;
	padding: 0;
}
#mailqueue_stats .windowbg .content {
	padding: 12px 9px 0 9px;
}
#view_group .table_grid {
	margin: 4px 0 8px 0;
}

/* Maillist pages
---------------------------------------------*/
.listaction {
	text-align: center;
}
/* @todo could it be a sprite? */
.listaction img {
	width: 16px;
	height: 16px;
}

/* News and newsletters screen.
---------------------------------------------*/
#admin_newsletters .information {
	margin: 8px 0;
	padding: 8px 12px 6px 12px;
}
#advanced_panel_header {
	margin-bottom: 8px;
}

#news_lists .newsarea {
	width: 50%;
}
#news_lists .newsarea textarea {
	width: 100%;
	padding: 0 2px;
}
#news_lists .newspreview {
	width: 45%;
}
td.newspreview {
	vertical-align: top;
}
#news_lists .newspreview div {
	overflow: auto;
	width: 100%;
	height: 6em;
	resize: vertical;
}

/*-------------------------------------------*/
.action_admin .generic_list .flow_auto {
	padding: 4px 2px;
}
h3.category_header form {
	font-size: .786em;
}
/* Chrome trick to avoid multiple lines of feature names */
.category_header>h3 {
	white-space: nowrap;
}
.windowbg.nopadding {
	margin: 4px 0 0 0;
	padding: 0;
}
.windowbg ol {
	margin-top: 0;
	margin-bottom: 0;
}
a.help .icon, a.help .icon_fixed {
	margin: 0;
	padding: 3px 4px 0 0;
}
h3 a.help .icon {
	padding: 0 4px 0 0;
}
.settings .help .icon {
	margin: 0 0 0 -20px;
	position: absolute;
}
.table_caption, tr.table_caption td {
	font-weight: bold;
}
.additional_row div.floatleft {
	padding: 0 10px;
}
fieldset {
	margin-bottom: 6px;
	padding: 6px;
}
fieldset dl {
	margin: 0;
}

/* Styles for the admin home screen.
------------------------------------------------------- */
/* @todo - Admin quick search bar, and results page. */
#quick_search {
	font-size: 0.857em;
}
#quick_search .icon, #quick_search .input_text,
#quick_search select, #quick_search .button_submit {
	float: left;
	margin: 3px 0 0 4px;
}
#quick_search .icon {
	margin: 8px 0 0 0;
}
/* @todo - The welcome thingy. */
#admincenter .roundframe, #modcenter .roundframe {
	background: none;
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
	overflow: visible;
}
#welcome {
	font-size: 0.929em;
	padding: 12px 9px 8px 9px;
}
#welcome a {
	font-weight: bold;
}
#welcome img {
	vertical-align: middle;
}
.search_results {
	margin: 0 -6px;
}
.search_results li {
	margin: 0;
	padding: 5px 0;
	overflow: auto;
	line-height: 1.7em;
}
.search_results li p {
	padding: 0 20px;
	line-height: 1.7em;
}
#installedVersion, #latestVersion {
	white-space: nowrap;
}
.versionFile {
	width: 50%;
}
.versionFilePad {
	padding-left: 3ex;
	width: 50%;
}
.versionNumber {
	width: 25%;
}
.censorWords {
	margin-top: 1ex;
}
/* Cleaned this up a bit for less clutter.
/* Admin and moderation could generally do with a clean up everywhere.
/* Live news from elkarte.net and support information. */
#admin_main_section {
	margin: 12px 0 20px 0;
	padding: 8px 12px 4px 12px;
}
#live_news, #supportVersionsTable {
	width: 70%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#supportVersionsTable {
	width: 30%;
	padding-left: 6px;
}
#admin_main_section .windowbg {
	padding: 6px 0;
	height: 12em;
	overflow: auto;
}
#admin_search_box {
	padding: 0.5em 0;
}
#live_news div.content, #supportVersionsTable div.content {
	padding: 0 4px;
	font-size: 0.929em;
}
#supportVersionsTable div.content {
	padding: 0 8px;
}
#live_news div.content dl {
	padding: 0;
}
#ourAnnouncements dt {
	padding: 4px 6px 2px 6px;
}
#ourAnnouncements dt a {
	font-weight: bold;
	display: block;
}
#ourAnnouncements dd {
	margin: 0;
	padding: 6px 12px;
}

/* The update warning. */
#update_section {
	margin: 6px 0;
}

/* Links to handy sections of admin.
----------------------------------*/
/* The <li>'s here have been set to a height in em with hidden overflow.
/* Yes, this will clip the blurb when using very large font sizes on a narrowish screen.
/* However, more than enough content is still available for clarity,
/* and the advantage is that a clean layout is always maintained.
/* The <li>'s could be set to auto overflow instead, but that just clutters things up with scrollbars.
/* Scrollbars here look worse, take up space, and don't really add anything useful in this context. */
div.quick_tasks {
	margin: -8px 0 0 0;
	border-radius: 7px;
	box-shadow: none;
	padding: 0 0 16px 0;
}
#quick_tasks li {
	list-style: none;
	padding: 10px 6px 10px 6px;
	float: left;
	width: 50%;
	height: 8em;
	overflow: auto;
}
#quick_tasks li a {
	line-height: 1.6em;
}
.home_image {
	float: left;
	margin: 2px 10px;
}
#quick_tasks li span {
	display: block;
	margin: 0 0 0 70px;
}

/* Styles for the support and credits page.
/* Hey, people might actually want to put their names on it now!
/* Only a couple of trivial markup hacks that wont break any mods or themes.
/* The older I get, the more devious I get. :D
/* Nobody ever themes admin anyway. That's why it looked like crap.
-----------------------------------------------------------------*/
#support_credits {
	position: relative;
	padding: 6px 12px 12px 12px;
}
#support_resources {
	margin: 16px 0 -24px 0;
}
#credits_logo {
	position: absolute;
	right: 16px;
	top: 10px;
	width: 75px;
}
#support_credits .content {
	padding: 0 18px;
	line-height: 1.6em;
}
#support_credits .content p {
	margin: 12px 0 0 0;
	padding: 0;
}
#credits_sections {
	margin: 0 0 -24px 0;
}
#support_credits dl {
	padding: 0 6px;
}
#support_credits dt {
	float: left;
	padding: 6px 0.8em 0 0;
	text-indent: -4px;
}
#support_credits dd {
	padding: 6px 0;
}

/* Styles for the core features screen.
/* Cleaned up a bit for clarity.
------------------------------------------------------- */
#core_features {
	padding: 20px 0;
}
#core_features hr {
	padding: 0;
	margin: 4px 0 12px 0;
}
#core_features .content {
	padding: 0 12px;
	overflow: auto;
}
.core_features_status_box {
	margin-left: 5px;
	vertical-align: middle;
}
/* Keep your enemies close, and your submit buttons if your screen is huge. */
/* Speaking of which, I can't see the last submit that is in the markup. */
/* Still works without it if you reload the page, but rather odd that it's hiding. */
.features_image {
	float: left;
	margin: 0 12px 0 0;
}
.features_switch {
	float: right;
}
.features h3 {
	padding: 0;
	margin: 0 6px 0 105px;
	font-size: 1.071em;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;
	min-height: 1.6em;
	max-height: 1.6em;
}
.features p {
	margin: 0 105px;
	padding: 0;
	min-height: 56px;
}
#private {
	width: 100%;
}

/* Styles for the package manager.
/* Haven't got here yet. :P
------------------------------------------------- */
#package_list ol, #package_list ol li {
	list-style: decimal;
	margin-left: 50px;
	border: none;
}
#package_list ol ul, #package_list ol ul li {
	margin-left: 0;
	list-style: none;
	border-radius: 3px;
}
#package_list {
	list-style-type: none;
}
#package_list li {
	padding: 0.2em;
	margin: 1px;
}
.package_id {
	width: 35%;
	min-width: 20em;
	display: inline-block;
	font-weight: bold;
}
.description, .information {
	max-height: 16em;
	overflow: auto;
	padding-bottom: .5em;
}
.packages {
	border: none !important;
	list-style: none;
}
#find_code, #replace_code {
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	font-size: 0.929em;
	margin: 1px 0 6px 0;
	padding: 3px 12px;
	overflow: auto;
	white-space: nowrap;
	/* Show a scrollbar after about 6 lines. */
	/* This is much better than the old max-height css. */
	height: 10em;
	resize: vertical;
}
.package_server {
	padding: 0 3em;
}
.package_image {
	width: 12px;
	height: 11px;
	margin-left: 2ex;
}
ul.package_servers {
	margin: 0;
	padding: 0;
}
ul.package_servers li {
	list-style-type: none;
}
.file_content {
	overflow: auto;
	width: 100%;
	padding-bottom: 1em;
}
.operation {
	padding: 0 1em;
}

/* Styles for the language edit strings page.
------------------------------------------------- */
.strings_edit li {
	display: inline-block;
	width: 49%;
	vertical-align:top;
}
.strings_edit textarea {
	width: 96%;
	display: block;
}

/* Styles for the file permissions section.
------------------------------------------------- */
.filepermissions {
	font-size: 0.786em;
	white-space: nowrap;
}
.fperm {
	display: block;
	width: 35%;
	text-align: center;
}
.perm_read {
	background-color: #d1f7bf;
}
.perm_write {
	background-color: #ffbbbb;
}
.perm_execute {
	background-color: #fdd7af;
}
.perm_custom {
	background-color: #c2c6c0;
}
.perm_nochange {
	background-color: #eee;
}

/* Styles for anti-spam questions.
------------------------------------------------------- */
dl.settings dt.questions {
	width: 65%;
}
dl.settings dd.questions {
	width: 35%;
}
dl.settings dt.questions input{
	width: 80%;
}
dl.settings dd.questions input {
	width: 90%;
}

/* Styles for the BBC permissions
------------------------------------------------- */
.list_bbc {
	width: 33%;
}

/* Styles for the manage boards section.
------------------------------------------------- */
#manage_boards .windowbg {
	margin: 0;
	padding: 0;
}
#manage_boards .content, #manage_attachments .content {
	margin: -6px 0 12px 0;
	padding: 6px 8px 16px 8px;
	overflow: auto;
}
#manage_attachments .content {
	margin: -10px 0 0;
	padding: 6px 8px;
}
#attach_paths .input_text {
	width: 100%;
}
#manage_boards ul {
	margin: 0 0 12px;
}
#manage_boards ul:nth-child(n+2) {
	min-height: 12px;
	padding-left: 30px;
	margin: 0 0 -12px;
}
.ui-state-highlight {
	height: 25px;
	cursor: move;
}
#manage_boards li, #manage_boards li.windowbg, #manage_boards li.windowbg2 {
	list-style: none;
	margin: 0;
	padding-top: 12px;
}
#manage_boards li img {
	vertical-align: middle;
	padding: 0 6px 3px 6px;
}
#manage_boards li .floatleft {
	font-weight: bold;
	padding: 0 6px;
	font-size: 1.071em;
	cursor: move;
	width: 60%;
}
#manage_boards li .floatleft:before {
	font-family: "Segoe UI Symbol", "DejaVu Sans", "GNU Unifont";
	content: "\21f3";
	padding-right: 5px;
	font-size: 1.286em;
	float: left;
	margin-top: -1px;
}
.move_links {
	padding: 0 13px 0 0;
}
.modify_boards {
	padding: 0 0.5em;
}
#manage_boards span.modify_boards a {
	border-radius: 3px;
	padding: 3px 6px;
	font-size: 1em;
}
#manage_boards span.modify_boards a:hover {
	text-decoration: none;
}
#manage_boards dl {
	padding: 8px 6px 0 6px;
}
#manage_boards dl textarea, #manage_boards dl table {
	margin: 0 0 8px 0;
}
#manage_boards .post_group, #manage_boards .regular_members {
	cursor: help;
}
.select_all_box {
	margin-top: 0.5em;
	padding: 2px 2px 5px 2px;
}
.visible_boards .board label,
.select_all_box label,
.select_category label {
	width: 30%;
	display: inline-block;
}
.visible_boards .select_all_box .floatright,
.visible_boards .select_category .floatright,
.visible_boards .board .floatright {
	width: 55%;
}
.visible_boards .category:after, .visible_boards .board:after {
	display: block;
	clear: both;
	content: "";
}
.visible_boards li {
	padding: 2px;
}

/* Styles for the manage smiley section.
------------------------------------------------- */
#smiley_list .imagecolumn {
	padding: 7px 10px;
}

/* Styles for the manage members section.
------------------------------------------------- */
.msearch_details {
	display: block;
	width: 49%;
}
.right dt {
	padding-right: 10px;
}

/* Styles for the manage maintenance section.
------------------------------------------------- */
#manage_maintenance div.windowbg, #manage_maintenance div.windowbg2 {
	padding: 0;
	margin: 0 0 4px 0;
}
#manage_maintenance .button_submit{
	margin: 4px 10px 10px 10px;
}
#membersText, #rotText {
	font-weight: bold;
}

/* Styles for the badbehaviour section.
------------------------------------------------- */
.bbfilter {
	display: table-cell;
	padding: 4px 0;
	width: 20px;
	vertical-align: top;
}
.bbrequest_uri {
	display: table-cell;
}

/* Stop the submit buttons running away on wide screens.*/
#manage_maintenance form {
	max-width: 75em;
	margin: 0 12px;
}
#manage_maintenance .settings {
	margin: 16px 0 0 0;
}
#manage_maintenance h3 a.help .icon {
	padding: 4px 0 0;
}

/* Styles for the manage calendar section.
------------------------------------------------- */
dl.settings dt.small_caption {
	width: 20%;
}
dl.settings dd.small_caption {
	width: 79%;
}
/* Styles for the manage permissions section.
------------------------------------------------- */
#permissionForm .table_grid {
	width: 100%;
}
#permissionForm .table_grid img.icon {
	vertical-align: top;
	width: 16px;
}
dl.admin_permissions dt {
	width: 35%;
}
dl.admin_permissions dd {
	width: 64%;
}

/* Styles for the package manager file permissions
------------------------------------------------- */
.file_permissions .table_grid {
	table-layout: fixed;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

/* Styles for the manage search section.
------------------------------------------------- */
dl.settings dt.large_caption {
	width: 70%;
}
dl.settings dd.large_caption {
	width: 29%;
}
.search_weight {
	width: 40px;
	padding: 0 0.5em;
	text-align: right;
}
.search_settings {
	float: left;
	width: 49%;
	margin: 0 0.5% 1em 0.5%;
	overflow: auto;
}

/* Styles for the manage bans section.
------------------------------------------------- */
.ban_restriction {
	margin: 0.2em 0 0.2em 2.2em;
}
.ban_settings {
	width: 46%;
}
.ban_text {
	min-height: 64px;
	max-height: 64px;
	min-width: 50%;
	max-width: 99%;
}
#manage_bans dl {
	margin-bottom: 1em;
}
#manage_bans fieldset dl.settings {
	margin-bottom: 0;
}

/* Styles for the manage subscriptions section.
------------------------------------------------- */
#fixed_area {
	width: 97%;
}
.pending_payments {
	margin: 0;
	padding: 0;
	line-height: 2em;
}

/* Styles for the manage permissions section.
------------------------------------------------- */
.perm_name, .perm_profile, .perm_board {
	display: block;
	width: 40%;
}
.perm_name, .perm_profile {
	font-weight: bold;
}
.perm_boards {
	padding: 0;
	margin: 0 0 0.6em 0;
}
.perm_boards li {
	padding: 0.3em 0.5em;
	margin: 1px;
}
.perm_classic {
	margin: 0.2em;
	width: 49%;
}
.permission_groups {
	padding: 0;
	margin: 0;
}
#manage_boards .permission_groups li {
	list-style-type: none;
	padding-top: 1px;
}
#manage_boards ul.permission_groups {
	margin-bottom: 0;
}
.perms {
	width: 20px;
	display: inline-block;
	text-align: center;
}
.edit_board {
	padding: 0 8px 8px;
	background-image: url(../images/icons/modify_small.png);
	background-repeat: no-repeat;
	margin-left: 3px;
}
.edit_board.nochanges {
	background-image: url(../images/icons/field_valid.png);
}
.edit_board.changed {
	background-image: url(../images/icons/field_invalid.png);
}
.perm_profile_delete {
	width:5%;
}

/* Styles for the themes section.
------------------------------------------------- */
ul.theme_options {
	padding: 0;
	margin: 0;
}
ul.theme_options li {
	list-style: none;
	padding: 0.4em;
}
.is_directory {
	padding-left: 18px;
	background: url(../images/admin/boards.png) no-repeat;
}
.edit_file {
	width: 100%;
	font-family: monospace;
	margin-top: 1ex;
	white-space: pre;
}

dl.themes_list {
	margin: 0;
}
dl.themes_list dt {
	margin-bottom: 3px;
}
dl.themes_list dd {
	font-style: italic;
	white-space: nowrap;
}
.theme_options dt {
	width: 55%;
}
.theme_options dd {
	width: 40%
}
.theme_settings .input_text {
	max-width: 100%;
	width: 30em;
}

/* Styles for the registration center.
------------------------------------------------- */
.agreement, .reserved_names {
	padding: 0;
}
#agreement, #reserved {
	width: 99%;
	padding: 0 .25em;
}

/* Styles for the moderation center.
------------------------------------------------- */
#modcenter {
	display: block;
	width: 100%;
}
#modcenter .windowbg, #modcenter .windowbg2, #modcenter .generic_list_wrapper {
	overflow: visible;
	margin: 4px 0 0 0;
}
#modcenter .content {
	padding: 12px;
}
#mod_main_section .windowbg {
	padding: 6px 0;
	height: 14em;
	overflow: auto;
}
.modblock_left {
	width: 49%;
	float: left;
	clear: right;
	margin: 0 0 1em 0;
}
.modblock_right {
	width: 49%;
	float: right;
	margin: 0 0 1em 0;
}
.modblock_left #ourAnnouncements {
	height: 15em;
	overflow: visible;
}
.modbox img.icon {
	margin: 3px 5px 0 0;
	vertical-align: text-top;
}

/* Moderation Notes */
ul.moderation_notes {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	height: auto;
}
ul.moderation_notes li {
	padding: 0.2em;
	border-bottom: 1px solid #ccc;
}
.notes {
	margin-top: 0.4em;
}
.post_note {
	width: 85%;
}

/* Styles for the error log.
------------------------------------------------- */

.grid_header {
	height: 25px;
}
#error_log {
	width: 100%;
}
#error_log tr.windowbg td, #error_log tr.windowbg2 td {
	padding: 8px;
	line-height: 160%;
}
#error_log td div {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	/* The next bits should fix https://github.com/elkarte/Elkarte/issues/567 */
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}
#error_log .error_who, #error_log .error_type {
	float: left;
	width: 50%;
	line-height: 1.8em;
	padding: 0 4px 4px 4px;
	vertical-align: bottom;
}
#error_log .error_where {
	float: left;
	width: 100%;
	padding: 4px 0;
	line-height: 1.6em;
}
.error_where .scope {
	display: table-cell;
	padding: 4px;
	width: 20px;
	vertical-align: top;
}
#error_log .checkbox_column {
	width: 15px;
	vertical-align: top;
	text-align: center;
}
#error_log a img {
	vertical-align: middle;
	margin: 0 8px 0 0;
}

/* Styles for the Report generation
------------------------------------------------- */
#report_buttons {
	min-height: 2.4em;
	padding: 3px 0;
}

/* Admin menu icons as sprites @todo - Can clean this up some more. */
/* Use some longhand declarations to cut the length of the entire list. */
/* ------------------------------------------------- */

/* Admin menu icons as sprites
------------------------------------------------- */
.linklevel2>img {
	background-image: url(../images/admin/admin_sprite.png);
	background-repeat: no-repeat;
}
.admin_img_administration {
	background-position: 0 0;
}
.admin_img_attachment {
	background-position: -16px 0;
}
.admin_img_ban {
	background-position: -32px 0;
}
.admin_img_boards {
	background-position: -48px 0;
}
.admin_img_calendar {
	background-position: -64px 0;
}
.admin_img_corefeatures {
	background-position: -80px 0;
}
.admin_img_current_theme {
	background-position: -96px 0;
}
.admin_img_engines {
	background-position: -112px 0;
}
.admin_img_exit {
	background-position: -128px 0;
}
.admin_img_features {
	background-position: -144px 0;
}
.admin_img_languages {
	background-position: -160px 0;
}
.admin_img_logs {
	background-position: -176px 0;
}
.admin_img_mail {
	background-position: -192px 0;
}
.admin_img_maintain {
	background-position: -208px 0;
}
.admin_img_membergroups {
	background-position: -224px 0;
}
.admin_img_members {
	background-position: -240px 0;
}
.admin_img_modifications {
	background-position: -256px 0;
}
.admin_img_news {
	background-position: -272px 0;
}
.admin_img_packages {
	background-position: -288px 0;
}
.admin_img_paid {
	background-position: -304px 0;
}
.admin_img_permissions {
	background-position: -320px 0;
}
.admin_img_posts {
	background-position: -336px 0;
}
.admin_img_regcenter {
	background-position: -352px 0;
}
.admin_img_reports {
	background-position: -368px 0;
}
.admin_img_scheduled {
	background-position: -384px 0;
}
.admin_img_search {
	background-position: -400px 0;
}
.admin_img_security {
	background-position: -416px 0;
}
.admin_img_server {
	background-position: -432px 0;
}
.admin_img_smiley {
	background-position: -448px 0;
}
.sortable_smiley li {
	display: inline;
	padding: 0 6px;
}
.ui-sortable li > a {
	cursor: move;
}

.admin_img_support {
	background-position: -464px 0;
}
.admin_img_themes {
	background-position: -480px 0;
}
.pagelink, .current_page, .expand_pages {
	border: 0;
	background-color: transparent;
}
#taskpad select {
	margin-top: 3px;
}
#taskpad {
	margin: 2px 8px 2px 0;
}

/* Try out some nifty small screen friendliness, for the cost of a few more bytes. */
/*@media screen and (max-width: 85em) {
	.features p {
		margin: 0;
		padding: 0;
		min-height: 10em;
		max-height: 10em;
	}

}*/
@media screen and (max-width: 33.750em) {
	body {
		padding: 0;
	}
	.visible_boards .select_all_box {
		display: block;
	}
	.visible_boards label {
		width: auto!important;
		display: inline;
	}
	#wrapper, #footer_section .frame {
		min-width: 100%;
	}
	#main_content_section {
		padding: 0 10px;
	}
	/* Level 1 button background. */
	.dropmenu li {
		line-height: 3.2em;
	}
	.dropmenu li ul {
		top: 3.45em;
	}
	.dropmenu li li a {
		line-height: 3.2em;
	}
	#live_news, #supportVersionsTable {
		width: 100%;
	}
	#live_news {
		margin: 0 0 6px 0;
	}
	#supportVersionsTable {
		padding: 0;
	}
	#quick_tasks ul li span {
		display: block;
		margin: 0 0 0 50px;
	}
	#credits_page {
		padding-top: 35px;
	}
	#credits_page img {
		right: 6px;
	}
	#core_features .features_image {
		display: none;
	}
	#core_features .features_switch {
		margin: -24px 0 0 5px;
	}
	#core_features .features h4 {
		padding: 0 0 10px 0;
	}
	#core_features .features p {
		margin: 0;
		padding: 0;
		min-height: 0;
		max-height: 5em;
		overflow: auto;
	}
	#manage_boards .windowbg {
		line-height: 3.2em;
	}
	#manage_boards ul {
		max-height: 120em;
		padding: 0 0 10px 0;
	}
	#manage_boards dd, #manage_boards dt {
		width: 100%;
	}
	#manage_boards dt {
		line-height: 1.6em;
	}
	.perm_classic {
		width: 100%;
	}
}

/* Drag sort lists show the move cursor and up/down arrow content */
#sort_email_fp td, #custom_profile_fields td:nth-child(2), #message_icon_list td:nth-child(-n+3) {
	cursor: move;
}
#sort_email_fp td:nth-child(2):before, #custom_profile_fields td:nth-child(2):before, #message_icon_list td:nth-child(1):before {
	font-family: "Segoe UI Symbol", "DejaVu Sans", "GNU Unifont";
	content: "\21f3";
	padding-right: 5px;
	font-size: 1.786em;
}
#custom_profile_fields td:nth-child(2):before {
	float: left;
	margin-top: 0.3em;
}

/* jQuery Dialog Box */
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	border-collapse: collapse;
	content: "";
	display: table;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	border-collapse: collapse;
	content: "";
	display: table;
}

/* jQuery Dialog */
.ui-dialog {
	padding: 0;
	z-index: 100;
}
.ui-dialog .ui-dialog-title {
	float: left;
	margin: 0.5em 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 90%;
}
.ui-dialog .ui-dialog-titlebar {
	padding: 0 1em;
	font-weight: bold;
	font-size: 1.071em;
}
.ui-dialog .ui-dialog-content {
	padding: 4px;
}
.ui-dialog .ui-dialog-titlebar-close {
	cursor: pointer;
	border: 0;
	float: right;
	width: 16px;
	height: 16px;
	margin: 0.7em 0;
	background: url(../images/buttons/delete.png) no-repeat scroll left center transparent;
}
.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
	display: none;
}
.ui-widget-overlay {
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}